// global color tokens
$-clr-white: hsl(0, 0%, 100%);
$-clr-soft-blue: hsl(215, 50.6%, 69.8%);
$-clr-very-dark-blue-line: hsl(215, 32.4%, 26.7%);
$-clr-very-dark-blue-card-bg: hsl(216, 50%, 16.5%);
$-clr-very-dark-blue-main-bg: hsl(217, 54.4%, 11.2%);
$-clr-cyan: hsl(178, 100%, 50%);

$light: (
  "neutral": (
    "100": $-clr-white,
    "400": $-clr-soft-blue,
    "700": $-clr-very-dark-blue-line,
    "800": $-clr-very-dark-blue-card-bg,
    "900": $-clr-very-dark-blue-main-bg,
  ),
  "primary": (
    "400": $-clr-cyan,
  ),
);

// contextual color tokens
$color-neutral-100: var(--neutral-100);
$color-neutral-400: var(--neutral-400);
$color-neutral-700: var(--neutral-700);
$color-neutral-800: var(--neutral-800);
$color-neutral-900: var(--neutral-900);

$color-primary-400: var(--primary-400);
