@use "colors" as *;
@use "typography" as *;
@use "sizes" as *;

$active-theme: $light;
$enable-media-query-dark-mode: false;

// Contextual
$color-text-default: $color-neutral-400;
$color-background-default: $color-neutral-900;
$color-text-interactive-default: $color-neutral-100;
$color-text-interactive-hover: $color-primary-400;

// set to 0 to disable
$letter-spacing-loose: 0;

$border-radius-1: 8px;
$border-radius-2: 15px;

$box-shadow-1: 0px 25px 50px 0px rgba(0, 0, 0, 9.53%);

// body
$body-font-family: $font-family-base;
$body-font-size: $font-size-500;
$body-line-height: 1.5;
$body-font-weight: $font-weight-light;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

$link-color: $color-text-interactive-default;
$link-color-hover: $color-text-interactive-hover;

$heading-font-family: $font-family-base;
$heading-color-default: $color-neutral-100;
$heading-font-weight: $font-weight-semi-bold;
$heading-letter-spacing: $letter-spacing-loose;
$heading-line-height: 1.1;
$heading-text-transform: none;

$heading-1-font-size: $font-size-700;
$heading-1-color: $heading-color-default;
$heading-2-font-size: $font-size-400;
$heading-2-color: $color-primary-400;

// layout
$grid-gap: $size-6;
$flex-group-gap: $size-4;

$container-min-margin-inline: $size-6;
$container-max-width: 21.875rem;

// site footer
$footer-background-color: transparent;
$footer-font-size: $font-size-300;
$footer-text-color: $color-neutral-400;
$footer-link-color: $color-neutral-100;
$footer-link-color-hover: $color-primary-400;
$footer-link-font-family: $font-family-base;
$footer-link-text-decoration: none;
